<div class="container">
  <div class="header">
    <div class="header_item">
      <h1><%= @category.name %></h1>
    </div>
  </div>

  <div class="content_div">
    <div class="content">
      <ul style="columns: <%= @links_columns_count %>">
        <% @links.each do |link| %>
          <li>
            <a href="<%= link.url %>" target="_blank"><%= link.name %></a>
            <% comment do %>
              <%= link_to image_tag("edit.svg", class: "edit-icon"), edit_link_path(link.id) %>
              <%= link_to image_tag("trash.png", class: "trash-icon"), link_path(link.id), method: :delete, confirm: "Are you sure?" %>
            <% end %>
            <%= link_to "edit", edit_link_path(link.id) %>
            <%= link_to "delete", link_path(link.id), method: :delete, data: { confirm: "Are you sure?" } %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>



